.badge-orange {
   background-color: #e69832;
}

.badge-normal {
   background-color: #e86f5f;
   color: white;
}

.badge-ground {
   background-color: #544e4d;
   color: white;
}

.badge-dark {
   background-color: #121010;
   color: white;
}

.badge-fairy {
   background-color: #9837b0;
   color: white;
}
