@{
   ViewData["Title"] = "Employee Page";
   Layout = "_EmployeeLayout";
}

<div class="container pt-3 overflow-auto">
   <div class="d-flex justify-content-between align-items-center mb-5">
      <h1>Data Master</h1>
      <button class="btn btn-primary d-block" data-toggle="modal" data-target="#registerModal">Register
         Employee</button>
   </div>
   <table class="table-employee table table-striped table-md-responsive">
      <thead>
         <tr>
            <th>No</th>
            <th>NIK</th>
            <th>Full Name</th>
            <th>Phone</th>
            <th>Birth Date</th>
            <th>Salary</th>
            <th>Action</th>
         </tr>
      </thead>
      <tbody id="tbody"></tbody>
   </table>

   <!-- Modal Register-->
   <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="registerModalLabel">Register</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               @* <form class="needs-validation" id="employee_form" novalidate onsubmit="console.log('ok')"> *@
               @* <form id="employee_form" onsubmit="Insert()"> *@
               <form id="employee_form" onsubmit="event.preventDefault()">
                  <div class="form-row">
                     <div class="col-md-4 mb-3">
                        <label for="first_name">First name</label>
                        <input type="text" class="form-control" id="first_name" placeholder="Input first name" required>
                     </div>
                     <div class="col-md-4 mb-3">
                        <label for="last_name">Last name</label>
                        <input type="text" class="form-control" id="last_name" placeholder="Input last name" required>
                     </div>
                     <div class="col-md-4 mb-3">
                        <label for="phone">Phone</label>
                        <input type="number" class="form-control" id="phone" placeholder="Input phone" required>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="col-md-4 mb-3">
                        <label for="birth_date">Birth Date</label>
                        <input type="date" class="form-control" id="birth_date" placeholder="Input birth date" required>
                        <div class="invalid-feedback">
                           Please provide a valid Birth Date.
                        </div>
                     </div>
                     <div class="col-md-4 mb-3">
                        <label for="gender">Gender</label>
                        <select class="custom-select" id="gender" required>
                           <option selected disabled value="">Choose...</option>
                           <option value="0">Male</option>
                           <option value="1">Female</option>
                        </select>
                        <div class="invalid-feedback">
                           Please select a valid gender.
                        </div>
                     </div>
                     <div class="col-md-4 mb-3">
                        <label for="salary">Salary</label>
                        <input type="number" class="form-control" id="salary" placeholder="Input salary" required>
                        <div class="invalid-feedback">
                           Please provide a valid Salary.
                        </div>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="col-md-4 mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Input email" required>
                        <div class="invalid-feedback">
                           Please provide a valid Email.
                        </div>
                     </div>
                     <div class="col-md-4 mb-3">
                        <label>Password</label>
                        <div class="input-group" id="show_hide_password">
                           <input type="text" class="form-control" aria-label="Recipient's username"
                              aria-describedby="basic-addon2" id="password" placeholder="Input password" required>
                           <div class="input-group-append">
                              <button class="input-group-text btn shadow-none" id="basic-addon2"><i
                                    class="fa fa-eye-slash" aria-hidden="true"></i></button>
                           </div>
                           <div class="invalid-feedback">
                              Please provide a valid Password.
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 mb-3">
                        <label for="degree">Degree</label>
                        <input type="text" class="form-control" id="degree" placeholder="Input degree" required>
                        <div class="invalid-feedback">
                           Please provide a valid Degree.
                        </div>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="col-md-4 mb-3">
                        <label for="gpa">GPA</label>
                        <input type="datetime" class="form-control" id="gpa" placeholder="Input GPS e.g 3.4" required>
                        <div class="invalid-feedback">
                           Please provide a valid GPA.
                        </div>
                     </div>
                     <div class="col-md-4 mb-3">
                        <label for="university_id">University</label>
                        <select class="custom-select" id="university_id" required>

                        </select>
                        <div class="invalid-feedback">
                           Please select a valid university.
                        </div>
                     </div>
                  </div>
                  <button class="btn btn-primary d-block ml-auto" type="submit">Submit
                     form</button>
               </form>
            </div>
         </div>
      </div>
   </div>

</div>