@{
   ViewData["Title"] = "Dashboard Page";
   Layout = "_AdminLayout";

   var token = ViewBag.Token;
}

<div class="container pb-5">
   <input type="hidden" id="token" value="@token">

   <h3>Dashboard</h3>
   <div class="charts mt-5 row ">
      <div class="col ">
         <div class="card">
            <div class="card-header">
               Charts Gender
            </div>
            <div class="card-body">
               <div id="chart-gender"></div>
            </div>
         </div>
      </div>

      <div class="col">
         <div class="card">
            <div class="card-header">
               Charts University
            </div>
            <div class="card-body">
               <div id="chart-university"></div>
            </div>
         </div>
      </div>
   </div>
</div>

@section scripts {
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="~/js/dashboard.js"></script>
}
