@{
   ViewData["Title"] = "Home Page";
   Layout = "_LatihanLayout";
}

<div class="container pt-3">
   <table class="table-pokemon table table-striped">
      <thead>
         <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
         </tr>
      </thead>
      <tbody id="tbody"></tbody>
   </table>

   <div class="ajax-inside mt-5">
      <h3>AJAX Inside datatables</h3>
      <table class="table-pokemon2 table table-striped mt-5">
         <thead>
            <tr>
               <th scope="col">No</th>
               <th scope="col">Name</th>
               <th scope="col">Action</th>
            </tr>
         </thead>
         <tbody id="tbody2"></tbody>
      </table>
   </div>

   <!-- Modal -->
   <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <div class="modal-body">
               <div class="header">
                  <div class="header-info">
                     <h3 class="species-name"></h3>
                     <div class="types d-flex gap-2"></div>
                  </div>
                  <img class="img-pokemon d-block mx-auto w-50" src="" alt="" width="200" height="200" />
               </div>
               <!-- navigation in .card-header -->
               <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs">
                     <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tab1">About</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab2">Base Stats</a>
                     </li>
                     @* <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab3">Tab 3</a>
                        </li> *@
                  </ul>
               </div>
               <!-- .card-body.tab-content  -->
               <div class="card-body tab-content">
                  <div class="tab-pane fade show active" id="tab1">
                     <table class="table">
                        <tr>
                           <td class="text-secondary" style="width: 100px">Species</td>
                           <td class="species text-dark" style="font-weight: 500"></td>
                        </tr>
                        <tr>
                           <td class="text-secondary" style="width: 100px">Height</td>
                           <td class="height text-dark" style="font-weight: 500"></td>
                        </tr>
                        <tr>
                           <td class="text-secondary" style="width: 100px">Weight</td>
                           <td class="weight text-dark" style="font-weight: 500"></td>
                        </tr>
                        <tr>
                           <td class="text-secondary" style="width: 100px">Abilities</td>
                           <td class="abilities text-dark" style="font-weight: 500"></td>
                        </tr>
                     </table>
                  </div>
                  <div class="tab-pane fade" id="tab2">
                     <table class="table">
                        <tr>
                           <td class="text-secondary" style="width: 100px">HP</td>
                           <td class="hp text-dark" style="width: 40px; font-weight: 500"></td>
                           <td class="progress-hp"></td>
                        </tr>
                        <tr>
                           <td class="text-secondary" style="width: 100px">Attack</td>
                           <td class="attack text-dark" style="font-weight: 500"></td>
                           <td class="progress-attack"></td>
                        </tr>
                        <tr>
                           <td class="text-secondary" style="width: 100px">Defense</td>
                           <td class="defense text-dark" style="font-weight: 500"></td>
                           <td class="progress-defense"></td>
                        </tr>
                        <tr>
                           <td class="text-secondary" style="width: 100px">Sp. Atk</td>
                           <td class="sp-atk text-dark" style="font-weight: 500"></td>
                           <td class="progress-sp-atk"></td>
                        </tr>
                        <tr>
                           <td class="text-secondary" style="width: 100px">Sp. Def</td>
                           <td class="sp-def text-dark" style="font-weight: 500"></td>
                           <td class="progress-sp-def"></td>
                        </tr>
                        <tr>
                           <td class="text-secondary" style="width: 100px">Speed</td>
                           <td class="speed text-dark" style="font-weight: 500"></td>
                           <td class="progress-speed"></td>
                        </tr>
                        <tr>
                           <td class="text-secondary" style="width: 100px">Total</td>
                           <td class="total text-dark" style="font-weight: 500"></td>
                           <td class="progress-total"></td>
                        </tr>
                     </table>
                  </div>
                  @* <div class="tab-pane fade" id="tab3">
                     <h4 class="card-title">Tab 3 Title</h4>
                     <p class="card-text">Never say Never. Dont't warry, be happy</p>
                     <a href="#" class="btn btn-success">Read More 3</a>
                     </div> *@
               </div>
               <!--/.card-body -->
            </div>
         </div>
      </div>
   </div>
</div>